<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <div class="show-when-logged-in hidden">
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Published Posts', published_posts_path %>

<div class="show-when-logged-in hidden">
  <%= link_to 'All Posts', posts_path %>
  <%= link_to 'Unpublished Posts', unpublished_posts_path %>
  <%= link_to 'New Post', new_post_path %>
</div>
