<%= cache post do %>
  <article class="post">
    <h1 class="title">
      <%= link_to post.title, post %>
    </h1>
    
    <div class="content">
      <%= raw ::Redcarpet::Markdown.new(::Redcarpet::Render::XHTML).render(post.content) %>
    </div>

    <div class="actions show-when-logged-in hidden">
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </article>
<% end %>
