<%= cache @posts do %>
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>

    <div class="actions">
      <%= link_to 'Published Posts', published_posts_path %>

      <span class="show-when-logged-in hidden">
        <%= link_to 'All Posts', posts_path %>
        <%= link_to 'Unpublished Posts', unpublished_posts_path %>
        <%= link_to 'New Post', new_post_path %>
      </span>
    </div>
  </div>
<% end %>
