<div class="remove-link-from-post-title">
  <%= render @post %>
</div>

<div class="hide-when-logged-in">
  <%= link_to 'All posts', published_posts_path %>
</div>

<div class="show-when-logged-in hidden">
  <%= link_to 'Published posts', published_posts_path %>
  <%= link_to 'Unpublished posts', unpublished_posts_path %>
  <%= link_to 'All posts', posts_path %>
</div>
