<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="lead text-center text-muted">
        <small>
          {{#link-to 'posts'}}Home{{/link-to}}
        </small>
      </p>
    </div>

    <div class="col-sm-8">
      <p class="lead text-center text-info">
        <small>A software engineering blog focusing on the web</small>
      </p>
    </div>

    <div class="col-sm-2">
      <p class="lead text-center text-muted">
        <small>
          {{#if isLoggedIn}}
            <a href="#" {{action 'logout'}}>Logout</a>
          {{else}}
            <a href="#" {{action 'showLoginForm'}}>Login</a>
          {{/if}}
        </small>
      </p>
    </div>
  </div>

  {{#if isLoggingIn}}
    {{render 'login'}}
  {{/if}}

  {{outlet}}
</div>
