<div class="row">
  <div role="main" class="col-lg-8">
    <h1>Latest Posts</h1>

    {{#if isLoggedIn}}
      <h2>Draft Posts</h2>

      <section class="posts drafts">
        {{#each post in draftPosts}}
          <article class="post">
            <h2 class="title">{{#linkTo 'post' post}}{{post.title}}{{/linkTo}}</h2>
            <div class="intro">{{markdown post.intro}}</div>

            {{#linkTo 'posts.edit' post class="btn btn-warning"}}Edit{{/linkTo}}
            <a {{action 'delete' post}} class="btn btn-danger">Delete</a>
          </article>
        {{/each}}
      </section>

      <hr />

      <h2>Published Posts</h2>
    {{/if}}

    <section class="posts">
      {{#each post in publishedPosts}}
        <article class="post">
          <h2 class="title">{{#linkTo 'post' post}}{{post.title}}{{/linkTo}}</h2>
          <div class="intro">{{markdown post.intro}}</div>

          {{#if isLoggedIn}}
            {{#linkTo 'posts.edit' post class="btn btn-warning"}}Edit{{/linkTo}}
            <a {{action 'delete' post}} class="btn btn-danger">Delete</a>
          {{/if}}
        </article>
      {{/each}}
    </section>

    {{#if isLoggedIn}}
      <hr />
      {{#linkTo 'posts.new' class="btn btn-primary"}}New Post{{/linkTo}}
    {{/if}}
  </div>

  <div class="col-lg-4">
    {{partial "about"}}
  </div>
</div>
