<div class="row">
  <div role="main" class="col-sm-8">
    <h1>{{title}}</h1>
    <p class="text-muted">Last updated: {{format-date updatedAt}}</p>
    <div class="body">{{markdown body}}</div>

    {{#if isLoggedIn}}
      {{#link-to 'posts.edit' this class="btn btn-warning"}}Edit{{/link-to}}
      <button {{action 'delete'}} type="button" class="btn btn-danger">Delete</button>
    {{/if}}

    <div class="comments">
      {{#if comments}}
        <h2>Comments</h2>
        {{render "comments" comments}}
      {{/if}}

      {{#link-to 'post.newComment' this class="btn btn-primary new-comment" activeClass="hidden"}}New Comment{{/link-to}}

      <div class="post-outlet">
        {{outlet}}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    {{partial "about"}}
  </div>
</div>
